

.desktop-3 {
  background-color: #f3e7ff;
  height: 1024px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.desktop-3 .log-out-cusbr8 {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 947px;
  width: 221px;
}

.desktop-3 .title-cusbr8 {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 210px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 165px;
  width: 442px;
}

.desktop-3 .food-drinks-cusbr8 {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 322px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 322px;
  width: 447px;
}

.desktop-3 .rectangle-7-cusbr8 {
  background-color: #46178f;
  height: 1024px;
  left: -2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 256px;
}

.desktop-3 .log-out-yo9xbe {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 7px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 924px;
  width: 221px;
}

.desktop-3 .rectangle-14-cusbr8 {
  background-color: var(--vista-white);
  border-radius: 20px;
  height: 336px;
  left: 319px;
  mix-blend-mode: normal;
  position: absolute;
  top: 276px;
  width: 448px;
}

.desktop-3 .rectangle-16-cusbr8 {
  background-color: var(--vista-white);
  border-radius: 20px;
  height: 336px;
  left: 319px;
  mix-blend-mode: normal;
  position: absolute;
  top: 688px;
  width: 448px;
}

.desktop-3 .rectangle-15-cusbr8 {
  background-color: var(--vista-white);
  border-radius: 20px;
  height: 336px;
  left: 886px;
  mix-blend-mode: normal;
  position: absolute;
  top: 274px;
  width: 448px;
}

.desktop-3 .rectangle-17-cusbr8 {
  background-color: var(--vista-white);
  border-radius: 20px;
  height: 336px;
  left: 886px;
  mix-blend-mode: normal;
  position: absolute;
  top: 688px;
  width: 448px;
}

.desktop-3 .food-drinks-yo9xbe {
  background-color: transparent;
  height: auto;
  left: 399px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 316px;
  width: 278px;
}

.desktop-3 .times-dates-cusbr8 {
  background-color: transparent;
  height: auto;
  left: 972px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 316px;
  width: 278px;
}

.desktop-3 .nature-animals-cusbr8 {
  background-color: transparent;
  height: auto;
  left: 922px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 731px;
  width: 328px;
}

.desktop-3 .sports-recreation-cusbr8 {
  background-color: transparent;
  height: auto;
  left: 385px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 731px;
  width: 328px;
}

.desktop-3 .undraw-hamburger8ge6-1-cusbr8 {
  background-color: transparent;
  height: 195px;
  left: 414px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 374px;
  width: 257px;
}

.desktop-3 .undraw-hamburger8ge6-2-cusbr8 {
  background-color: transparent;
  height: 195px;
  left: 991px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 374px;
  width: 257px;
}

.desktop-3 .undrawgamedayucx9-1-cusbr8 {
  background-color: transparent;
  height: 168px;
  left: 464px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 838px;
  width: 183px;
}

.desktop-3 .undrawnaturem5ll-1-cusbr8 {
  background-color: transparent;
  height: 186px;
  left: 1005px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 829px;
  width: 202px;
}

.desktop-3 .lingo-battles-cusbr8 {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 71px;
  width: 221px;
}

.desktop-3 .recent-games-cusbr8 {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 149px;
  width: 240px;
}

.desktop-3 .leaderboards-cusbr8 {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 219px;
  width: 221px;
}

.desktop-3 .categories-cusbr8 {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 294px;
  width: 221px;
}
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,300,600");

.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

:root { 
    --black: #000000;
    --vista-white: #fef8f8;
    --white: #ffffff;
   
    --font-size-l: 42px;
    --font-size-m: 36px;
    --font-size-s: 30px;
    --font-size-xl: 48px;
    --font-size-xs: 24px;
   
    --font-family-montserrat: "Montserrat", Helvetica;
  }
  .montserrat-semi-bold-black-36px {
    color: var(--black);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 600;
  }
  
  .montserrat-normal-white-30px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
  }